<Loader DataLoaded="DataLoaded" NotFound="Tags is null or { Length: 0 }">
    <div class="flex-center flex-wrap">
        @foreach (var item in Tags)
        {
            <span class="pointer m-2"
                  @onclick="() => NavigationService.Navigate(new QueryParams { Tag = item.Tag })"
                  style="font-size: @(GetFontSize(item.Count))px">
                @item.Tag
            </span>
        }
    </div>
</Loader>
