@if (DataLoaded)
{
    @if (NotFound)
    {
        <div class="d-flex flex-column">
            <span>@Labels.NoData</span>
            <a class="my-3" @onclick="() => NavigationService.Navigate(new QueryParams())">&lt; @Labels.NavigateToHomepage</a>
        </div>
    }
    else
    {
        @ChildContent
    }
}
else
{
    <div class="d-flex align-items-center justify-content-center">
        <p class="fst-italic text-secondary">@Labels.Loading</p>
    </div>
}